a {
  width: 55px;
  height: 25px;
  border: solid 4px rgb(185, 182, 182);
  background-color: rgb(107, 119, 190);
  text-decoration: none;
  color: rgb(247, 243, 243);
  position: absolute;
  top: 0%;
  left: 0%;
  



}

body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(#001f3f, #000814);
  font-family: sans-serif;
}

#controls {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  border: none;
  background-color: #005eff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #003bbd;
}

canvas {
  display: block;
}
